@charset "UTF-8";
body {
    box-sizing: border-box;
    background: #ffce6d;
    
}

html {
    font-family: "Lucida Sans", sans-serif;
}

#card1 {
    height: 240px;
    width: 340px;
    text-align: center;
}
#card2 {
    height: 240px;
    width: 340px;
    text-align: center;
}
#card21{
     height: 500;
     width: auto;
}
#card3 {
    height: 240px;
    width: 340px;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.cardblue,
.cardgreen,
.cardred {
    border-radius: 30px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 335px;
    height: 240px;
    transition: all 0.4 ease-out;
    border-color: #61A6AB;
    text-align: center;
    }

.card {
    border-radius: 30px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 335px;
    height: 240px;
    background-color: white;
    transition: all 0.4 ease-out;
    border: 4px solid #61A6AB;
    text-align: center;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    background-color: #888888;
    color: #141313;
    padding: 15px;
}

a {
    border-radius: 10px;
}

button:hover,
a:hover {
    opacity: 0.7;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: #a3a5ae;
    font-size: 16px;
}
.texto1 p{
    font-size: 14px;
}

.image {
    float: right;
    max-width: 64px;
    max-height: 64px;
}

[class*="col-"] {
    width: 100%;
}


/* Responsivo */

@media only screen and (min-width: 1250px) {
    .cardblue, .cardgreen, .cardred {
        width: 320px;
        height: 220px;
        }
    .texto, .texto1, .texto2{
        width: 20px;
        height: 320px;
    }
}
@media only screen and (min-width: 1000px) {
    #card1, #card2, #card3{
        height: 210px;
        width: 310px;
    }
    .cardblue, .cardgreen, .cardred {
        width: 300px;
        height: 200px;
        }
    .card {
        width: 300px;
        height: 215px;
    }
    .card p {
        font-size: 13px;
    }
    .texto{
        width: 50%;
        height: 320px;
    }
}
@media only screen and (max-width: 1000px) {
    #card1, #card2, #card3{
        height: 150px;
        width: 200px;
    }
    .cardblue, .cardgreen, .cardred {
        width: 190px;
        height: 150px;
        }
    .card {
        width: 200px;
        height: 155px;
    }
    .card p {
        font-size: 12px;
    }
    .texto{
        width: 48%;
        height: 370px;
    }
}
@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    /* Responsivo */

    /* Slide */
    body {
        margin: 0;
    }
    div#slider {
        overflow: hidden;
    }
    /* As imagens não sairão da margem da tela */
    div#slider figure img {
        width: 20%;
        float: left;
    }
    div#slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 15s slidy infinite;
    }
/* As imagens não sairão da margem da tela */
    @keyframes slidy {
        0% {
            left: 0%;
        }
        20% {
            left: 0%;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        75% {
            left: -300%;
        }
        95% {
            left: -300%;
        }
        100% {
            left: -400%;
        }
    }
/* Slide */   

    #Título {
        text-align: center;
        text-shadow: black 0.1em 0.1em 0.1em;
        color: white;
        margin: 70px;
    }
    #Título2 {
        color: #ffffff;
        text-align: center;
        text-shadow: black 0.1em 0.1em 0.2em;
        margin-top: 70px;
        margin-bottom: 100px;
    }
    .cardblue,
    .cardgreen,
    .cardred {
        border-top: 4px solid #61A6AB;
        border-left: 4px solid #61A6AB;
        border-bottom: 4px solid #61A6AB;
        border-right: 4px solid #61A6AB;
        background: #ffffff;
    }


    /* Barra de Navegação */
    * {
        margin: 0;
        padding: 0;
    }
    nav {
        width: 100%;
    }
    .menu {
        font-family: "Lucida Sans", sans-serif;
        font-size: 12pt;
    }
    .menu ul {
        list-style: none;
        display: flex;
        text-align: center;
    }
    .menu ul li {
        padding: 8px;
        flex-grow: 1;
        transition: background-color .2s linear;
        border: solid 1px transparent;
    }
    .menu ul li a {
        text-decoration: none;
        color: #f2f2f2;
    }
    .menu ul li:hover {
        border: solid 1px #fff;
        background-color: transparent !important;
        cursor: pointer;
    }
    #item1 {
        background-color: #61A6AB;
    }
    #item2 {
        background-color: #61A6AB;
    }
    #item3 {
        background-color: #61A6AB;
    }
    #item4 {
        background-color: #61A6AB;
    }
    @media (max-width: 520px) {
        .menu ul {
            display: block;
        }
    }
}

.texto, .texto1, .texto2{
    width: 65%;
    height: 320px;
    background-color: #61A6AB;
    margin-top: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.dad{
    display: inline-flex;
    width: 100%;
}
/* Barra de Navegação */

/*bolhas dos perfis parte Sobre Nós*/
.pai{
    
    display: flex;
    justify-content: center;
    background-color: #ffce6d;
    align-items: center;
    padding-right: 10px;
}
.pai2{
    
    
        display: flex;
        justify-content: center;
        background-color: #ffce6d;
        align-items: center;
        padding-right: 10px;
    }

.user-image{
    padding: 3em 0;
    
}
 
.user-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow:  0 0.6em 1.8em ;
    
    
}
#espaço1{
    padding-left: 120px;
    padding-right: 50px;
}

#espaço{
    padding-left: 120px;
    padding-right: 50px;
}
